.copyright {
  width: max-content;
  display: flex;
  justify-content: center;
}

.copyright__text {
  padding: 0;
  margin: 0;
  margin-right: 15px;
  line-height: 30px;
}

.copyright__link {
  width: 27px;
  height: 34px;
  font-size: 0;
  fill: @pink;

  &:hover {
    fill: @dark-blue;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @desktop-width) {
  .copyright__text {
    line-height: 34px;
    font-size: 18px;
  }
}
