.download {
  min-height: 270px;
  width: 100%;
  margin: 0;
  padding: 0;

  background-color: @dark-blue;
  color: @white;
  text-align: center;
}

.download__wrapper {
  width: 280px;
  margin: 20px auto;
}

.download__button {
  margin: 5px 0 10px 0;
}

.download__logos {
  width: 240px;
  height: 80px;
  margin: 10px auto;
}

.download__link {
  text-decoration: none;
}

.download__logo {
  width: 60px;
  height: 60px;
  margin: 10px 5px;
}

.download__text {
  font-weight: lighter;
}
