.download {
  min-height: 270px;
  width: 320px; //фиксированная сетка
  margin: 0 auto; //фиксированная сетка
  padding: 0;

  background-color: @dark-blue;
  color: @white;
  text-align: center;
}

.download__wrapper {
  padding: 20px auto;
}

.download__button {
  margin: 30px 0;
}

.download__logos {
  margin: 0 30px; // по 3 в ряд( при увеличении контента)
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}

.download__link {
  text-decoration: none;
}

.download__logo {
  margin: 0 5px;
}

.download__text {
  font-weight: 100;
}
