.editor {
  width: 320px;
  margin: 0 auto;
  padding: 0;
  background-color: @light-grey;
}

.editor__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.editor__picture {
  margin: 20px;
}

.editor__tools {
  display: flex;
  flex-direction: column;
  margin: 10px 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.editor__tool {
  display: flex;
  margin: 0 13px;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}

.editor__range {
  position: relative;
  margin: 31px 0 0 0;
  width: 240px;
  z-index: 1;
}
.editor__range-scale {
  height: 2px;
  background-color: @dark-blue;
}

.editor__range-toggle {
  position: absolute;
  top: -6px;
  left: 25%;
  width: 14px;
  height: 14px;

  background-color: transparent;
  border: 2px solid @pink;
  box-sizing: border-box;
  border-radius: 50%;
  cursor: pointer;
}



@media (max-width: @mobile-only-width) {
  .editor__tool--center {
    align-items: center;
  }

  .editor__tool--top {
    margin-top: -90px;
  }

  .editor__tool--end {
    align-items: flex-end;
    margin-top: -93px;
  }

  .editor__range--hidden {
    visibility: hidden;
    z-index: 0;
  }
}

.editor__buttons-group {
  width: 100%;
  margin-top: 34px;
  padding-top: 30px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid @grey;
}

@media (min-width: @tablet-width) {
  .editor {
    width: @tablet-width;
  }

  .editor__wrapper {
    flex-direction: row;
    padding: 45px 20px 32px 20px;
    justify-content: space-between;
  }

  .editor__picture {
    width: 300px;
    flex-shrink: 0;
    margin: 0;
    margin-top: 15px;
  }

  .editor__tools {
    margin: 0;
  }

  .editor__tool {
    flex-direction: row;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid @grey;
  }

  .editor__range {
    margin: 0;
    width: 200px;
  }

  .editor__buttons-group {
    width: 300px;
    border: none;
    margin-top: 50px;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: @desktop-width) {
  .editor {
    width: calc(@desktop-width - 260px);
    margin: 0 130px 25px 130px;
  }

  .editor__wrapper {
    padding: 40px 55px 58px 80px;
  }

  .editor__tools {
    width: 415px;
  }

  .editor__tool {
    padding: 13px 0;
    margin: 0;
  }

  .editor__range {
    width: 290px;
    margin-left: 40px;
  }

  .editor__range-toggle--fill {
    left: 87%;
  }

  .editor__range-toggle--crop {
    left: 26%;
  }

  .editor__range-toggle--contrast {
    left: 57%;
  }

  .editor__buttons-group {
    margin-top: auto;
    width: 410px;
    flex-direction: row;
    justify-content: space-between;
  }
}
