.gallery {
  width: 100%;
  margin: 0 auto;
  margin-top: -225px;
  padding: 0;
  background-color: @white;
}

.gallery__wrapper {
  width: @mobile-width;
  display: flex;
  flex-direction: column;
}

.gallery__slogan {
  margin: 45px 35px;
  padding: 0;
  line-height: 30px;
  text-align: center;
}

.gallery__slogan:last-of-type {
  margin: 29px auto 40px auto;
}

.gallery__list {
  margin: 0;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery__main-photo {
  position: relative;
  box-sizing: border-box;

  &::after {
    content: "Панорама дня";
    position: absolute;
    top: 0;
    right: 20px;
    width: 140px;
    height: 36px;
    font-size: 12px;
    line-height: 36px;
    font-weight: bold;
    color: @white;
    background-image: url("../img/bg-rect.svg");
    background-repeat: no-repeat;
    background-size: 140px 36px;
    text-align: center;
    text-transform: uppercase;
  }
}

.gallery__image {
  display: block;
  outline: none;
}

.gallery__photos {
  display: flex;
  flex-direction: column;
}

.gallery__item {
  width: 280px;
  margin: 10px 0;
  padding-bottom: 11px;
  background-color: @light-grey;
}

.gallery__item--promo {
  margin-top: -5px;
  min-height: max-content;
  margin-bottom: 11px;
  padding-top: 5px;
  padding-bottom: 10px;
}

.gallery__author {
  padding-top: 10px;
  margin: 0;
  padding-left: 19px;
  font-weight: bold;
  font-style: normal;

  span {
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
  }
}

.gallery__text {
  margin: 0;
  padding-left: 17px;
}

.gallery__like {
  margin: 10px 0;
  font-size: 12px;
  display: flex;
  text-transform: uppercase;
  color: @pink;
}

@media (min-width: @tablet-width) {
  .gallery {
    margin-top: -290px;
  }

  .gallery__wrapper {
    width: @tablet-width;
  }

  .gallery__slogan {
    font-size: 18px;
    padding-top: 15px;
    margin: 75px;
  }

  .gallery__slogan:last-of-type {
    padding-top: 0;
    margin-top: 52px;
    margin-bottom: 70px;
  }

  .gallery__main-photo {
    overflow: hidden;
    width: 660px;
    height: 509px;
    display: flex;
    justify-content: center;

    img {
      min-width: 700px;
    }

    &::after {
      top: 58px;
    }
  }

  .gallery__list {
    flex-direction: row;
    margin-top: 0;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
  }

  .gallery__image {
    width: 300px;
    height: 300px;
  }

  .gallery__image--full {
    min-width: 700px;
    height: 509px;
  }

  .gallery__author {
    padding: 24px 0 0 30px;
  }

  .gallery__text {
    margin-left: 28px;
    margin-right: 10px;
    padding-bottom: 12px;
    padding-left: 2px;
  }

  .gallery__like {
    display: flex;
    margin-top: auto;
    margin-right: 10px;
    margin-bottom: 0;
    margin-left: 28px;
  }

  .gallery__heart {
    margin-left: auto;
    order: 1;
  }

  .gallery__item--promo {
    width: 620px;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 27px;
    margin: 0 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .gallery__author {
      padding-top: 13px;
      padding-left: 10px;
    }

    .gallery__text {
      order: 1;
      width: 580px;
      flex-shrink: 0;
      margin: 0;
      padding: 0;
      padding-left: 13px;
    }

    .gallery__heart {
      margin-left: 15px;
    }
  }

  .gallery__photos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    width: 620px;
    margin: 0 20px;

    .gallery__item {
      width: 300px;
      min-height: 430px;
      display: flex;
      flex-direction: column;
      margin: 0;
      margin-bottom: 20px;
      padding-bottom: 20px;
    }
  }
}

@media (min-width: @desktop-width) {
  .gallery {
    margin-top: -460px;
  }

  .gallery__wrapper {
    width: @desktop-width;
  }

  .gallery__slogan {
    padding: 0;
    width: 580px;
    margin: 90px auto;
  }

  .gallery__slogan:last-of-type {
    margin: 8px auto 67px auto;
  }

  .gallery__image--full {
    width: @desktop-width;
    height: 505px;
  }

  .gallery__main-photo {
    width: 1200px;
    height: 505px;

    &::after {
      top: 54px;
      right: 130px;
    }
  }

  .gallery__photos {
    width: calc(@desktop-width - 2 * 130px);
    margin: 0 130px;

    .gallery__image {
      height: 400px;
    }

    .gallery__item {
      padding-bottom: 23px;
      margin-bottom: 50px;
      min-height: 535px;
    }

    .gallery__text {
      padding: 0;
    }

    .gallery__author {
      padding: 24px 0 0 28px;
    }
  }

  .gallery__item--promo {
    width: calc(@desktop-width - 2 * 130px - 2 * 25px);
    margin: 0 130px 52px 130px;
    padding-right: 22px;
    padding-top: 22px;
    padding-left: 28px;
    padding-bottom: 24px;

    .gallery__author {
      padding: 0;
    }

    .gallery__text {
      padding: 0;
      margin: 0;
      width: calc(@desktop-width - 2 * 130px - 2 * 25px);
    }

    .gallery__like {
      margin: 0;
      margin-right: 6px;
    }

    .gallery__heart {
      margin-right: 0;
    }
  }
}
