.main-nav {
  width: 100%;
  background-color: @dark-blue;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.main-nav__header {
  height: 69px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid @black;
}

.main-nav__logo {
  fill: @white;

  &:hover {
    fill: @pink;
  }

  &:active {
    fill: fade(@white, 30%);
  }
}

.main-nav__toggle {
  margin-left: auto;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
}

.main-nav--opened {
  .main-nav__burger {
    display: none;
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--closed {
  background-color: fade(@black, 30%);

  .main-nav__header {
    border-bottom: none;
    height: 65px;
  }

  .main-nav__cross {
    display: none;
  }

  .main-nav__burger {
    display: inline;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.main-nav__item {
  width: 100%;
  height: 62px;
  display: flex;
  justify-content: center;

  border-bottom: 1px solid @black;
  border-top: 1px solid @dark-grey;

  font-size: 18px;
  font-weight: bold;
  line-height: 65px;
  text-transform: uppercase;
}

.main-nav__item--active {
  text-decoration: underline;
}

.main-nav__item a {
  color: @white;
  text-decoration: none;
}

.main-nav__item a:hover {
  color: @pink;
}

.main-nav__item a:active {
  color: fade(@white, 30%);
}

@media (min-width: @tablet-width) {
  .main-nav__item {
    line-height: 60px;
  }

  .main-nav__toggle {
    margin-top: 0;
  }

  .main-nav__header {
    height: 110px;
  }

  .main-nav--closed {
    .main-nav__header {
      height: 110px;
    }
  }

  .main-nav__logo {
    &--mobile {
      display: none;
    }
  }
}

@media (max-width: @not-desktop-width) {
  .main-nav--closed .main-nav__list {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    width: 100%;
    margin: 0;
    background-color: fade(@black, 30%);
  }

  .main-nav__wrapper {
    width: calc(@desktop-width - 260px);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 130px;
  }

  .main-nav__header {
    border: none;
    padding: 0;
    justify-content: flex-start;
  }

  .main-nav__logo {
    &--tablet {
      display: none;
    }
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .main-nav__item {
    width: auto;
    border: none;
    justify-content: flex-start;
    margin-left: 80px;
    font-weight: normal;
    text-transform: none;
  }
}
