.page-footer {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: @white;
}

.page-footer__wrapper {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}

.page-footer__links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.page-footer__map {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -30px;
}

.page-footer__contacts {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  padding-bottom: 20px;
  text-align: center;
  background-color: @white;
}

.page-footer__item {
  margin: 20px 0;
  align-self: center;
}

.page-footer__item:first-child {
  margin-top: 40px;
  align-self: center;
}

.page-footer__item:last-child {
  margin-bottom: 40px;
  align-self: center;
}

.page-footer__link {
  display: block;
  width: 150px;
  height: 40px;
}

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    width: @tablet-width;
    margin-left: auto;
    margin-right: auto;
  }

  .page-footer__links {
    flex-direction: row;
    margin: 40px 20px;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__item {
    margin: 0;
  }

  .page-footer__item:first-child,
  .page-footer__item:last-child {
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    width: @desktop-width;
  }

  .page-footer__links {
    margin: 70px 130px;
  }
}
