.page-header {
  display: flex;
  flex-direction: column;
  background-color: @dark-blue;
  color: @white;
}

.page-header__logo {
  height: 70px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid @black;
}

.page-header__item {
  width: 75px;
  height: 25px;
  background: url("../../img/logo-pink-white-mobile.svg") no-repeat 50% 50%;
}

.page-header__item--button {
  width: 25px;
  background: url("../../img/icon-menu-cross.svg") no-repeat 50% 50%;
}
