.prices {
  width: 320px;
  margin: 0 auto;
  margin-top: 23px;
  overflow-x: hidden;
  padding: 0;
  padding-top: 91px;
  padding-bottom: 49px;
  background-color: @light-grey;
}
/*
.prices::before {
  position: absolute;
  width: 100%;
  height: 30px;
  content: "";
  background: url("../img/bg-triangle-white.svg") no-repeat 50% 50%;
  background-size: contain;
  top: 0;
  left: 0;
}
*/

.prices__container {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 20px;
}

.prices__header {
  width: 280px;
  display: flex;
  flex-direction: row;
}

.prices__services {
  display: flex;
  flex-direction: row;
  border: 1px solid @light-grey;
}

.prices__service {
  width: 280px;
  min-height: 60px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid @light-grey;
  background-color: @white;
  text-transform: uppercase;

  span {
    margin-left: 25px;
  }

  &:first-child {
    border-left: 1px solid @light-grey;
    border-right: none;
  }
}

.prices__service--active {
  width: 140px;
}


.prices__tariff {
  width: 100%;
  height: 97px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: @dark-blue;
  border-left: 1px solid @light-grey;
  color: @white;
  text-transform: uppercase;
  text-align: center;
}

.prices__tarif--hit {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 74px;
    height: 73px;
    top: 0;
    left: 0;
    background-image: url("../img/bg-hit.svg");
    background-repeat: no-repeat;
    background-size: 74px 73px;
  }

  &::after {
    content: "ХИТ";
    position: absolute;
    width: 74px;
    height: 73px;
    top: 6px;
    left: 6px;
    transform: rotate(-45deg);
    font-size: 14px;
    font-weight: bold;
  }
}

.prices__tariff--invisible {
  visibility: hidden;
  background-color: @light-grey;
}

.prices__name {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
}

.prices__cost {
  margin: 0;
  font-size: 24px;
  font-weight: 100;
  line-height: 30px;
}

.prices__image {
  display: block;
  margin-left: auto;
  margin-right: 25px;
}

@media (min-width: @tablet-width) {
  .prices {
    width: @tablet-width;
    margin-top: 0;
    padding: 0;
    padding-bottom: 2px;
  }

  .prices__container {
    width: 620px;
    margin-bottom: 65px;
    margin-top: 87px;
  }

  .prices__tariff {
    width: 154px;
    height: 80px;
  }

  .prices__tarif--hit {
    &::before {
      background-image: url("../img/bg-hit-tablet.svg");
      background-size: 61px 61px;
    }

    &::after {
      top: 0;
      left: 0;
    }
  }

  .prices__services {
    height: 45px;
  }

  .prices__name {
    font-size: 16px;
    margin-top: 5px;
  }

  .prices__cost {
    font-size: 18px;
  }

  .prices__service {
    width: 154px;
    min-height: 45px;
    flex-shrink: 0;
    border-right: 1px solid @light-grey;
    justify-content: flex-start;
    text-transform: none;

    p {
      margin: 0;
      margin-left: 15px;
    }

    span {
      display: none;
    }

    &:first-child {
      border-left: none;
      border-right: 1px solid @light-grey;
    }
  }

  .prices__image {
    margin-right: auto;
  }

  .prices__toggles {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .prices {
    width: @desktop-width;
    padding-top: 0;
    padding-bottom: 0;
  }

  .prices__container {
    margin: 150px 130px 100px 130px;
    width: 940px;
  }

  .prices__header {
    width: 940px;
  }

  .prices__services {
    height: 58px;
  }

  .prices__service {
    width: 234px;
    font-size: 18px;
    line-height: 30px;

    p {
      margin-left: 22px;
    }
  }

  .prices__tariff {
    width: 234px;
    height: 100px;
  }

  .prices__tarif--hit {
    &::before {
      background-image: url("../img/bg-hit.svg");
      background-size: 73px 74px;
    }

    &::after {
      top: 6px;
      left: 6px;
    }
  }

  .prices__name {
    font-size: 18px;
    line-height: 30px;
    margin: 0;
  }

  .prices__cost {
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
  }
}
