.slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider__list {
  display: flex;
  flex-direction: row;
}

.slider__item {
  width: 280px;
  flex-shrink: 0;
}

.slider__column {
  width: 280px;
  flex-shrink: 0;
}

.slider__item--hidden {
  display: none;
  visibility: hidden;
}

.slider__toggles {
  width: 65px;
  margin: 35px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.slider__toggle {
  width: 6px;
  height: 6px;
  padding: 0;
  background-color: @grey;
  background-clip: content-box;
  border: 3px solid transparent;
  display: inline-block;
  border-radius: 50%;
  box-sizing: content-box;
  margin: 0 5px;

  &:hover {
    background-color: @dark-grey;
  }

  &:active,
  &:focus {
    background-color: @light-grey;
  }
}

.slider__toggle--active {
  background-color: transparent;
  border: 3px solid @black;

  &:hover {
    background-color: transparent;
  }
}


@media (min-width: @tablet-width) {
  .slider__item {
    width: 620px;
  }

  .slider__column {
    order: 0;
  }
}

@media (min-width: @desktop-width) {
  .slider__item {
    width: 690px;
  }

  .slider__toggle {
    display: none;
  }
}
