.social {
  display: flex;
  justify-content: center;
}

.social__link {
  width: 44px;
  height: 44px;
  margin: 0 6px;
  font-size: 0;
  background-repeat: no-repeat;
  background-position: center;
  border: 3px solid @light-grey;
  border-radius: 50%;

  &:hover {
    border-color: @dark-blue;
  }

  &:active,
  &:focus {
    border-color: @dark-blue;
    opacity: 0.3;
  }
}

.social__link--twitter {
  background-image: url("../img/icon-twitter.svg");
  background-size: 18px 16px;
}

.social__link--facebook {
  background-image: url("../img/icon-facebook.svg");
  background-size: 13px 18px;
}

.social__link--youtube {
  background-image: url("../img/icon-youtube.svg");
  background-size: 17px 15px;
}
