.user-form {
  width: 100%;
  padding: 0;
  margin-top: -225px; //залезает на предыдущий блок
  background-color: @white;
}

.user-form__wrapper {
  width: @mobile-width;
  display: flex;
  flex-direction: column;
}

@media (max-width: @mobile-only-width) {
  .user-form__slogan span {
    display: none;
  }

  .user-form__wrapper {
    fieldset {
      border: none;
    }
  }

  .user-form__contacts {
    padding: 0;

    legend {
      display: none;
    }
  }
}

.user-form__slogan {
  margin: 35px 20px 20px 20px;
  padding-top: 10px;
  line-height: 30px;
  text-align: center;
}

.user-form__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.user-form__info {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  padding: 0 20px;
}

.user-form__contacts {
  display: flex;
  flex-direction: column;
  margin: 15px 20px 40px 20px;
}

.user-form__achievement-container,
.user-form__application-container {
  padding: 40px 20px 0 20px;
  background-color: @light-grey;
}

.user-form__description {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 0 20px;
  margin: 38px 0;

  .user-form__input {
    width: 240px;
    min-height: 170px;
    padding: 10px 20px;
  }
}

.user-form__item {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.user-form__label {
  line-height: 30px;
  text-transform: uppercase;
  color: @pink;
  margin: 0;
  padding: 16px 20px 5px 22px;
}

.user-form__input {
  margin: 0;
  width: 236px;
  min-height: 30px;
  padding: 15px 20px;
  flex-grow: 1;
  border: 2px solid @grey;
  border-radius: 5px;
  font-size: 18px;
  line-height: 30px;

  &:hover {
    border: 2px solid @black;
  }

  &:focus {
    border: 2px solid @pink;
  }
}

.user-form__achievement,
.user-form__application {
  margin: 0;
}

.user-form__legend {
  width: 100%;
  line-height: 18px;
  text-transform: uppercase;
  color: @pink;
  text-align: center;
}

.user-form__checkbox-area {
  display: flex;
  flex-direction: column;

  label {
    font-size: 18px;
    line-height: 35px;
    margin: 22px 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  input[type="checkbox"] {
    width: 38px;
    height: 38px;
    margin: 0;
    margin-right: 27px;
    vertical-align: middle;
  }
}

.user-form__radio-area {
  display: flex;
  flex-direction: column;

  label {
    font-size: 18px;
    line-height: 35px;
    margin: 18px 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  input[type="radio"] {
    width: 38px;
    height: 38px;
    margin: 0;
    margin-right: 27px;
    vertical-align: middle;
  }
}

.user-form__button {
  margin: 12px 20px;
}

.user-form__tip {
  margin: 28px 0 15px 0;
  text-transform: uppercase;
  text-align: center;

  span {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .user-form {
    margin-top: -290px;
  }

  .user-form__wrapper {
    width: @tablet-width;
  }

  .user-form__slogan {
    font-size: 18px;
    line-height: 30px;
    padding-top: 10px;
    margin: 80px;
    margin-bottom: 70px;
  }

  .user-form__item {
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
  }

  .user-form__achievement-container {
    background-color: @white;
    padding-top: 35px;
    padding-bottom: 20px;

    br {
      display: none;
    }
  }

  .user-form__achievement {
    margin: 0;
  }

  .user-form__label {
    padding-left: 0;
  }

  .user-form__checkbox-area {
    margin-top: 5px;
    margin-bottom: 10px;

    label:last-child {
      margin-bottom: 20px;
    }

    input[type="checkbox"] {
      margin-right: 16px;
    }
  }


  .user-form__form {
    display: flex;
    flex-direction: column;
  }

  .user-form__info {
    order: -3;
    margin-bottom: 30px;

    .user-form__item:last-child {
      margin-bottom: 0;
    }
  }

  .user-form__contacts {
    order: -1;
    margin: 20px;
    margin-top: 26px;

    .user-form__item {
      flex-direction: column-reverse;
      align-items: flex-start;
      margin: 0;
      margin-bottom: 25px;
    }

    .user-form__item:last-child {
      margin-bottom: 0;
    }

    .user-form__label {
      padding-left: 19px;
      padding-top: 9px;
    }

    .user-form__input {
      width: 435px;
    }
  }

  .user-form__application-container {
    order: -2;
    padding: 0;
    margin: 30px 20px;
    background-color: @white;
  }

  .user-form__application {
    margin: 0;
  }

  .user-form__radio-area {
    margin-top: 5px;
    margin-bottom: 15px;

    label:last-child {
      margin-bottom: 20px;
    }

    input[type="radio"] {
      margin-right: 16px;
    }
  }

  .user-form__description {
    padding: 33px 60px 50px 60px;
    margin: 40px 20px 45px 20px;

    .user-form__input {
      width: calc(@tablet-width - 2 * 80px - 2 * 2px - 2 * 20px - 2 * 2px);
      min-height: 170px;
    }
  }

  .user-form__button {
    margin: 25px 20px 0 20px;
    width: 300px;
  }

  .user-form__tip {
    margin-left: auto;
    margin-right: 20px;
    margin-top: 40px;
  }

  .user-form__form > .user-form__item:last-of-type {
    margin-bottom: 47px;
  }
}

@media (min-width: @desktop-width) {
  .user-form {
    width: 100%;
    margin-top: -460px;
  }

  .user-form__wrapper {
    width: (@desktop-width - 2 * 130px);
    margin: 0 auto;
    padding: 0 130px;
  }

  .user-form__slogan {
    margin: 92px;
    margin-bottom: 60px;
    padding: 0;
  }

  .user-form__form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .user-form__info {
    width: 435px;
    flex-shrink: 0;
    padding: 0;
    padding-top: 22px;
  }

  .user-form__item {
    margin-bottom: 52px;
  }

  .user-form__application-container {
    width: 438px;
    flex-shrink: 0;
    padding: 0;
    margin: 0;
    margin-top: 10px;

    .user-form__radio-area {
      margin-top: 8px;
      margin-bottom: 15px;
      margin-left: 20px;
    }
  }

  .user-form__contacts {
    width: 940px;
    margin: 0;
    margin-bottom: 25px;
    padding-bottom: 10px;

    .user-form__contacts-wrapper {
      width: 820px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .user-form__item {
      flex-basis: 375px;
      width: 375px;
      margin: 0;
      align-items: flex-start;
    }

    .user-form__label {
      padding-left: 20px;
    }

    .user-form__input {
      width: 341px;
    }
  }

  .user-form__achievement-container {
    width: 940px;
    padding: 30px 0 15px 0;


    .user-form__achievement {
      width: 820px;
    }
  }

  .user-form__checkbox-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 35px;

    label {
      width: max-content;
      margin: 0;
      margin-bottom: 45px;
    }

    label:nth-child(2n) {
      order: 1;
      margin-bottom: 0;
    }

    label:nth-child(5) {
      margin-right: 0;
    }

    label:nth-child(6) {
      margin-right: 0;
    }
  }

  .user-form__description {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
    padding: 37px 60px 45px 60px;

    .user-form__input {
      width: 775px;
      min-height: 100px;
    }
  }

  .user-form__button {
    margin: 0;
    padding: 0;
  }

  .user-form__tip {
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 5px;

    span {
      display: inline;
    }
  }

  .user-form__form > .user-form__item:last-of-type {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 0;
  }
}
