.button {
  min-width: 280px;
  display: inline-block;
  border: 3px solid @white;
  border-radius: 25px;
  font-size: 18px;
  line-height: 50px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;

  color: @white;
  background-color: inherit;

  &:hover {
    color: @pink;
    background-color: @white;
  }

  &:active {
    color: fade(@pink, 30%);
  }
}

.button--unborder {
  border: none;

  &:hover {
    background-color: inherit;
  }

  &:active {
    color: @white;
    border: none;
  }
}

.button--margin {
  margin: 5px 0;
}

.button--pink {
  border: 3px solid @pink;
  color: @pink;

  &:hover {
    color: @white;
    background-color: @pink;
  }

  &:active {
    color: fade(@white, 30%);
    background-color: @pink;
  }
}

.button--grey {
  border: 3px solid @grey;
  color: @grey;

  &:hover {
    color: fade(@dark-grey, 30%);
    border: 3px solid fade(@dark-grey, 30%);
    background-color: inherit;
  }

  &:active {
    color: fade(@white, 30%);
    border: fade(@dark-grey, 30%);
    background-color: fade(@dark-grey, 30%);
  }
}

.button-heart {
  width: 20px;
  height: 20px;

  padding: 0;
  margin: 0 15px;

  border: none;
  background: url("../../img/icon-heart.svg") no-repeat 50% 50%;
  background-size: 15px 15px;
  background-color: inherit;
}

.button--form {
  width: 280px;
  padding: 7px 0;
  background-color: @green;
  border: none;
  border-radius: 2px;
  text-transform: uppercase;

  &:hover {
    color: @white;
    background-color: #1b9b5e;
  }

  &:active {
    color: fade(@white, 30%);
    background-color: #1b9b5e;
  }

  &--disabled {
    color: @white;
    background-color: @light-grey;
  }
}

.button-editor {
  width: 60px;
  height: 60px;
  padding: 0;
  margin: 0 15px;

  outline: none;
  border: none;
  fill: @grey;
  background-color: inherit;

  &:hover {
    fill: @dark-grey;
  }

  &--active {
    fill: @pink;
  }
}


@media (min-width: @tablet-width) {
  .button {
    min-width: 260px;
  }

  .button-editor svg {
    width: 30px;
    height: 30px;
  }

  .button--margin {
    margin: 14px 0;
    margin-left: 10px;
  }
}

@media (min-width: @desktop-width) {
  .button-editor {
    margin: 0;

    svg {
      width: 45px;
      height: 45px;
    }
  }

  .button--margin {
    margin: 0;
  }

  .button {
    min-width: 180px;
  }
}
