body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 24px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  color: @black;
  background-color: @white;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  outline: none;
  tabindex: 1;
}

.visually-hidden:not(:focus):not(:active) {
  display: none;
  visibility: hidden;
}
